@import "./bootstrap/css/bootstrap.min.css";
@import "./fonts/stylesheet.css";

body {
  .container {
    width: 850px;
    margin-top: 15px;
    font: 18px/25px 'LinuxLibertineORegular', Arial, sans-serif;

    header {
      #title {
        font-style: italic;
      }

      hgroup, address {
        display: inline-block;
      }

      address {
        float: right;
      }
    }

    section {
      &#profile p {
        margin-left: 0px;
      }

      &#education {
        span {
          margin-left: 30px;
        }
      }

      h3 {
        font-style: italic;
      }

      p {
        margin-left: 30px;
      }
    }
  }
}